<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Voltar</a>
    </p>

    <p>Vyvian Goulart Patisserie - Entre em contato agora!</p>
    <p><i class="fa fa-whatsapp fa-1x" aria-hidden="true"></i> +55 11 97335-1045</p>
    <p><span class="glyphicon glyphicon-envelope"></span> contato@vyvian.com.br</p>
    <p>
    <a class="btn btn-social-icon btn-facebook" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-facebook']);">
      <span class="fa fa-facebook"></span></a>
    <a class="btn btn-social-icon btn-instagram" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-instagram']);">
      <span class="fa fa-instagram"></span></a>
    <a class="btn btn-social-icon btn-twitter" onclick="_gaq.push(['_trackEvent', 'btn-social-icon', 'click', 'btn-twitter']);">
      <span class="fa fa-twitter"></span></a>
    </p>
  </div>
</footer>
